<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><p>About Us</p></h3>
  </div>
  <div class="panel-body">
    	<p> We have created this website to help serve the bright and gifted minds that are limited by their immigration status.</p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading"></div>
  <div class="panel-body">
  	<img src="/assets/keny.jpg" alt="Picture of keny" class="img-rounded img-sized">
    Keny Murillo
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading"></div>
  <div class="panel-body">
  	<img src="/assets/anuja.jpg" alt="Picture of Anuja" class="img-rounded img-sized">
    Anuja Acharya
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading"></div>
  <div class="panel-body">
  	<img src="..." alt="Picture of marcel" class="img-rounded img-sized">
    Yves Marcel Conti
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading"></div>
  <div class="panel-body">
  	<img src="..." alt="Picture of lennor" class="img-rounded img=sized">
    Lennor
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading"></div>
  <div class="panel-body">
  	<img src="/assets/jorge.jpg" alt="Picture of Jorge" class="img-rounded img-sized">
    Jorge Hernandez
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading"></div>
  <div class="panel-body">
  	<img src="/assets/Ruben.jpg" alt="Picture of ruben" class="img-rounded img-sized">
    Ruben Cruz
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading"></div>
  <div class="panel-body">
  	<img src="assets/ramiro.jpg" alt="Picture of ramiro" class="img-rounded img-sized">
    Ramiro Rodriguez
  </div>
</div>

